@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

.prose pre {
  @apply bg-gray-900 text-gray-100 p-4 rounded-lg overflow-auto text-sm;
}
.prose code {
  @apply bg-gray-100 px-1 py-0.5 rounded text-sm;
}
